# Flutter/Dart
.dart_tool/
.packages
build/
pubspec.lock

# Flutter generated
.flutter-plugins
.flutter-plugins-dependencies

# Logs
*.log

# Android
android/.gradle/
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/

# IDE
.idea/
.vscode/
*.iml
